.height-img{
    max-height: 800px;
}
.carousel .carousel-item img{
    max-height: 1800px !important;
}

.header-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .carousel-caption {
    position: absolute;
    text-align: inherit;
    bottom: 230px;
    width: 43%;
    left: 50px;

  }